@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #d2d2d2;
}

body {
  height: 100vh;
  background-color: #5A5C59;
}

*, *::before, *::after {
  box-sizing: inherit;
}

button {
  transition: 0.3s ease-out;
}

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_entered {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto
}

.logo {
  font-family: 'Zhi Mang Xing', sans-serif;
  font-size: 48px;
}

.logo_entered {
  font-size: 36px;
  margin-left: 20px;
}

main {
  height: 80%;
  position: relative;
}

.authorization {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
}

.sign-in-block, .registration-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.signIn_error {
  color: #ffa09e;
  font-size: 1.4rem;
}

.authorization-buttons {
  width: 230px;
  height: 61px;
  background: #DDDDDD;
  box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.23);
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #6D6D6D;
}

.hints {
  font-weight: 400;
  font-size: 16px;
  color: #DCC29B;
}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.gh_link {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #DCC29B;
}

.gh-links {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.powered_by, .for {
  color: #fff;
  font-size: 1.4rem;
}

.rss_logo {
  width: 80px;
}

.inputs {
  width: 375px;
  height: 40px;
  background: #DDDDDD;
  box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
}

.sign_in_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
}

.submit_button {
  width: 230px;
  height: 50px;
  background: #DCC29B;
  box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
}

.link_registration {
  cursor: pointer;
  font-size: 14px;
  margin: 0px;
  position: relative;
  top: -15px;
  transition: all 0.3s;
}

.link_registration:hover {
  transform: scale(1.05);
}

.profile_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.profile_subcontainer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #65FFAC;
}

.username_header {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}

/* _____________________________________________main page */

.main_container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.burger_menu {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 23px;
}

.lots_container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 50px;
  overflow-y: scroll;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.animation {
  animation-name: opacityAnimation;
  animation-duration: 2s;
  transition: ease-in;
}

.burger_animation {
  animation-name: burgerAnimation;
  animation-duration: 2s;
  transition: ease-in;
}

.burger_menu_element {
  display: flex;
  width: 70%;
  align-items: center;
  column-gap: 20px;
  transition: 0.3s ease-out;
}

.add_lot_img {
  width: 50px;
}

.add_lot_text {
  font-size: 1.4rem;
}

.lot_card {
  width: 210px;
  height: 240px;
  background-color: #DCC29B;
  border-radius: 10px;
  box-shadow: rgb(213 215 199 / 80%) 0px 16px 33px, rgb(213 215 199 / 50%) 0px -12px 30px, rgb(213 215 199 / 30%) 0px 4px 6px, rgb(213 215 199 / 20%) 0px 12px 13px, rgb(213 215 199 / 10%) 0px -3px 5px;
  transition: 0.3s ease-out;
}

.lot_card_header {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  background: #CDCDCD;
  border-radius: 10px 10px 0 0;
  color: #031700;
  font-size: 1.4rem;
  font-weight: 500;
}

.lot_card_image {
  width: 100%;
}

.lot_card_main {
  height: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdcdcd;
}

.lot_card_footer {
  height: 20%;
  border-radius: 0 0 10px 10px;
  background: #CDCDCD;
  font-size: 1.4rem;
  font-weight: 500;
  color: #031700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.to_wishes_button {
  width: 25px;
}

/* _____________________________________________lot popup */

.popup_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3030309e;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.popup_window {
  width: 50%;
  max-width: 700px;
  min-height: 500px;
  background-color: #CDCDCD;
  display: flex;
  border-radius: 10px;
  padding-bottom: 20px;
  animation-name: showPopup;
  animation-duration: 1s;
  transition: ease-in;
}

.main_lot_info_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.close_popup_button {
  position: absolute;
  top: 0;
  right: 8px;
  width: 35px;
}

.lot_title_popup {
  font-size: 24px;
  font-weight: 500;
  color: #031700;
  padding-top: 10px;
}

.lot_popup_description {
  color: #031700;
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
}

.popup_actions_container {
  display: flex;
  justify-content: space-evenly;
  column-gap: 40px;
  padding-top: 30px;
}

.popup_action {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: center;
}

.popup_action_image {
  width: 60px;
}

.popup_action_text {
  color: #031700;
  font-size: 1.2rem;
}
/* _____________________________________________slider */

.slider_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_controls {
  width: 35px;
}

.slider_image_container {
  max-width: 400px;
  max-height: 500px;
  width: 85%;
  display: flex;
  overflow: hidden;
}

.test_image {
  width: 100%;
  transition: 0.6s ease-in;
}

/*______________________________________________adding lot */

.lots_container > span {
  display: block;
}

.btn-tertiary, .btn-tertiary-photo{
  padding: 0;
  line-height: 40px;
  width: 180px;
  display: block;
  background: #C4C4C4;
  color: black;
  font-size: 22px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.23);
}

.btn-tertiary-photo {
  font-size: 18px;
}

.btn-tertiary:hover,.btn-tertiary:focus, .btn-tertiary-photo:hover{
  color:#888;
  border-color:#888;
  transform: scale(1.05);
}

.input-file{
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1
}

.input-file + .js-labelFile{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0 10px;
  cursor:pointer;
}

.input-file + .js-labelFile .icon:before{
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/iconAddPhotos.png) no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.input-file + .js-labelFile.has-file .icon:before{
  content:"\f00c";
  color:#5AAC7B
}

.add_lot {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}

.wrap_photos {
  display: flex;
  flex-wrap: wrap;
}

.contain_photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.btn_delete_photo {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url(../images/delete_btn_photo.png) no-repeat;
  right: 5px;
  top: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn_delete_photo:hover {
  transform: scale(1.1);
}


.name_lot, .category_lot, .description_lot, .karma_count_lot, .region_lot {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 7px 0;
}

.name_lot_input, .karma_count_lot_input, .input_map {
  display: block;
  margin-top: 5px;
  width: 220px;
  height: 30px;
  border-radius: 5px;
  background: #C4C4C4;
  border: 0px;
  outline: none;
  transition: all 0.3s;
  font-size: 16px;
  padding: 0px 7px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.23);
}

.name_lot_input:hover {
  transform: scale(1.05);
}

.select_category {
  width: 220px;
  height: 30px;
  border: 0px;
  outline: none;
  border-radius: 5px;
  background: #c4c4c4;
  font-size: 16px;
  padding: 0px 7px;
  transition: all 0.3s;
  appearance: none;       /* Remove default arrow */
  background-image: url('../images/arrow-select.png');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 190px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.23);
  cursor: pointer;
}

.description_lot_input {
  width: 300px;
  height: 150px;
  background: #c4c4c4;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 500;
  padding: 5px;
  outline: none;
  border: 0px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.23);
  transition: all 0.3s;
}

.karma_count_lot_input {
  width: 145px;
  height: 30px;
}

.lot_submit {
  height: 40px;
  width: 180px;
  background-color: #31af92;
  border-radius: 10px;
  border: 0px;
  outline: none;
  font-size: 22px;
  margin: 25px 0px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  box-shadow: rgb(49 175 146 / 36%) 0px 16px 33px, rgb(49 175 146 / 30%) 0px -12px 30px, rgb(49 175 146 / 25%) 0px 4px 6px, rgb(49 175 146 / 20%) 0px 12px 13px, rgb(49 175 146 / 15%) 0px -3px 5px;
}

.lot_submit:hover, .karma_count_lot_input:hover, .description_lot_input:hover, .input_map:hover {
  transform: scale(1.05);
}

.sign_out_button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #e43f60;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  padding: 3px 10px 3px 10px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: rgb(228 63 96 / 27%) 0px 30px 33px, rgb(228 63 96 / 25%) 0px -12px 30px, rgb(228 63 96 / 20%) 0px 4px 6px, rgb(228 63 96 / 25%) 0px 12px 13px, rgb(228 63 96 / 10%) 0px -3px 5px;
}

.message_err {
  color: red;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 5px;
}

.form_lot, .form_setting {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #535553;
  border-radius: 10px;
  position: relative;
}

/* _____________________________________________message popup */

.message_popup_container {
  width: 300px;
  height: 400px;
  background-color: #31af92;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  animation-name: slideInMessage;
  animation-duration: 1s;
  transition: ease-in;
  border-radius: 10px;
}

.popup_message_block_header {
  width: 100%;
  height: 10%;
}

.close_popup_message_button {
  width: 20px;
  float: right;
  margin: 10px 10px 0 0;
  transition: 0.3s ease-out;
}

.hide_message_animation {
  animation-name: hideMessage;
  animation-duration: 1s;
  transition: ease-in;
  transform: translateX(100%);
  opacity: 0;
}

.popup_message_block_main {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_message_textarea {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}

.message_blackout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #5a5c59a3;
}

.popup_message_block_footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.send_message_from_popup_button {
  width: 50%;
  height: 45%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #009688;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  margin-right: 15px;
  transition: 0.3s ease-out;
}

/* _____________________________________________messages section */

.messages_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.separate_message {
  width: 80%;
  height: 60px;
  background-color: #C4C4C4;
  border-radius: 5px;
  display: flex;
  box-shadow: rgb(213 215 199 / 30%) 0px 16px 33px, rgb(213 215 199 / 10%) 0px -12px 30px, rgb(213 215 199 / 40%) 0px 4px 6px, rgb(213 215 199 / 20%) 0px 12px 13px, rgb(213 215 199 / 5%) 0px -3px 5px;
}

.lot_description_block {
  width: 20%;
  height: 100%;
  background-color: #B0B0B0;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lot_description_title {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}

.lot_description_message {
  font-size: 1.2rem;
  color: #ffffff;
}

.message_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #C4C4C4;
}

.message_date {
  width: 20%;
  height: 100%;
  background-color: #B0B0B0;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.message_date_day, .message_date_time {
  font-size: 1.2rem;
  color: #ffffff;
}

.chat_container {
  width: 100%;
  height: 100%;
  background-color: #C4C4C4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  position: relative;
}

.chat_message_wrapper {
  width: 95%;
  display: flex;
}

.message_container {
  background-color: #B0B0B0;
  border-radius: 10px;
  width: 250px;
  min-height: 70px;
  margin: 20px 0 0 20px;
  display: flex;
  position: relative;
}

.message_image_container {
  width: 65px;
  display: inline-flex;
  justify-content: center;
  padding-top: 7px;
  height: 100%;
}

.message_image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.message_container_for_text_and_date {
  width: 185px;
  height: 100%;
  color: #ffffff;
}

.message_container_for_text {
  width: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.message_container_for_date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1rem;
}

.input_message_container {
  width: 100%;
  position: sticky;
  top: 0;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.message_textarea {
  width: 93%;
  outline: none;
  border: none;
  resize: none;
  height: 100%;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}

.send_container {
  width: 4%;
  height: 100%;
}

.send_icon{
  width: 30px
}

.chat_message_wrapper_opposite {
  justify-content: flex-end;
}

.message_container_opposite {
  background-color: #777777;
}
/* _____________________________________________scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #504e4ef8; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(175, 174, 174)
}

/* _____________________________________________hover effects */

.authorization-buttons:hover, .gh_link:hover, .rss_logo:hover, .close_popup_button:hover, .popup_action:hover, .slider_controls:hover, 
.send_message_from_popup_button:hover, .separate_message:hover, .send_container:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.karma_count_lot_input:hover, .description_lot_input:hover {
  transform: scale(1.05);
}

.slider_controls:hover, .close_popup_message_button:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.slider_controls:active, .close_popup_button:active, .close_popup_message_button:active, .send_message_from_popup_button:active, 
.separate_message:active, .send_container:active, .close_popup_map_button:hover{
  opacity: .4;
}

.inputs:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.submit_button:hover {
  opacity: 0.5;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.authorization-buttons:active, .gh_link:active, .rss_logo:active {
  opacity: .7;
}

.burger_menu_element:hover {
  transition: 0.3s ease-out;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: rgb(49 175 146 / 36%) 0px 16px 33px, rgb(49 175 146 / 30%) 0px -12px 30px, rgb(49 175 146 / 25%) 0px 4px 6px, rgb(49 175 146 / 20%) 0px 12px 13px, rgb(49 175 146 / 15%) 0px -3px 5px;
}

.lot_card:hover {
  box-shadow: rgb(49 175 146 / 36%) 0px 16px 33px, rgb(49 175 146 / 30%) 0px -12px 30px, rgb(49 175 146 / 25%) 0px 4px 6px, rgb(49 175 146 / 20%) 0px 12px 13px, rgb(49 175 146 / 15%) 0px -3px 5px;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.separate_message:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
  cursor: pointer;
  box-shadow: rgb(49 175 146 / 36%) 0px 16px 33px, rgb(49 175 146 / 30%) 0px -12px 30px, rgb(49 175 146 / 25%) 0px 4px 6px, rgb(49 175 146 / 20%) 0px 12px 13px, rgb(49 175 146 / 15%) 0px -3px 5px;
}

.lot_submit:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: rgb(49 175 146 / 70%) 0px 16px 33px, rgb(49 175 146 / 50%) 0px -12px 30px, rgb(49 175 146 / 40%) 0px 4px 6px, rgb(49 175 146 / 30%) 0px 12px 13px, rgb(49 175 146 / 25%) 0px -3px 5px;
}
.sign_out_button:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: rgb(228 63 96 / 70%) 0px 30px 33px, rgb(228 63 96 / 50%) 0px -12px 30px, rgb(228 63 96 / 40%) 0px 4px 6px, rgb(228 63 96 / 30%) 0px 12px 13px, rgb(228 63 96 / 25%) 0px -3px 5px;
}
/* _____________________________________________helpers */

.zero_opacity {
  /* display: none; */
  opacity: 0;
}

.hidden {
  display: none;
}

.error_block {
  height: 40px;
  width: 300px;
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  background: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c30a0a;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.error_block_hidden {
  transform: translateY(-100%);
  transition: 0.3s ease-out;
}

.error_block_shown{
  transition: 0.5s ease-out;
  animation-name: showError; 
  animation-duration: 0.5s;
}

/* _____________________________________________animations keyframes */

@keyframes showError {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInMessage {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideMessage {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes showPopup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes burgerAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* _____________________________________________media */

@media screen and (max-width: 1024px) {
  .popup_window {
    width: 70%;
  }
}

@media screen and (max-width: 540px) {

  .authorization {
    flex-direction: column;
    row-gap: 10%;
  }

  footer {
    flex-direction: column;
    row-gap: 5px;
  }

  .gh-links {
    column-gap: 5px;
  }

  .gh_link {
    font-size: 1.2rem;
  }

  .powered_by, .for {
    display: none;
  }

  .inputs {
    width: 300px;
  }

  .submit_button {
    width: 200px;
    height: 40px;
  }

  .main_container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
  }

.lots_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    overflow-y: scroll;
    border-radius: 5px;
    justify-content: center;
  }

.burger_menu {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* row-gap: 23px; */
    /* column-gap: 10px; */
  }

.burger_menu_element {
    display: flex;
    width: 70%;
    align-items: center;
    column-gap: 20px;
    transition: 0.3s ease-out;
    flex-direction: column;
  }

  .popup_window {
    width: 95%;
    min-height: 430px;
  }

  .popup_actions_container {
    column-gap: 30px;
    padding-top: 15px;
  }

  .popup_action_image {
    width: 45px;
  }

  .add_lot_img {
    width: 40px;
  }

  .add_lot_text {
    font-size: 1.2rem;
  }

  .description_lot_input {
    width: 100%;
  }

  .lot_popup_description {
    padding: 7px;
  }

  .separate_message {
    width: 100%;
  }

  .message_container {
    width: 210px;
    min-height: 60px;
  }

  .message_container_for_date {
    font-size: 1rem;
  }

  .message_image {
    width: 45px;
    height: 45px;
  }

  .message_textarea {
    width: 83%;
  }
}

.avatar-photo, .wrap_profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 100%;
  background-image: url('../images/default-profile.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 15px;
}

.wrap_profile_img {
  width: 40px;
  height: 40px;
  margin: 0px;
  margin-right: 8px;
}

.select_avatar {
  overflow: auto;
  margin: auto;
}

.wrap_s_a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: gray;
}

.wrap_avatar_email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  font-size: 16px;
  margin-bottom: 15px;
}

#message {
  height: 76px;
}

#map {
  display: none;
  height: 200px;
  width: 310px;
  margin: 20px 0px 0px 0px;
  position: relative;
}

#wrap_input_map {
  position: relative;
  height: 28px;
  width: 220px;
  margin: 5px 0px 7px 0px;
}

#map_popap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.close_popup_map_button {
  position: absolute;
  top: 0;
  right: 8px;
  width: 35px;
  z-index: 1000;
}
