@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #d2d2d2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*Test for signup*/
.formsignup,
.formsignin {
  font-size: large;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: darkkhaki;
  height: 120px;
  margin: 10px auto; 
}

.formaddlot,
.formreadlot {
  font-size: large;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: darkkhaki;
  height: 300px;
  width: 400px;
  margin: 10px auto; 
}

.imgcontainer {
  display: flex;
  flex-direction: row;
}
/*END Test for signup*/

